.contact-us__section {
    width: 100%;
    height: 506px;
    background-color: rgba(30, 30, 32, 0.50);
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.contact-us__vector-plus-container {
    position: absolute;
    top: 5%;
    right: 4%;
}

.contact-us__vector-circles-container {
    position: absolute;
    top: 70%;
    left: 25%;
}

.contact-us__section h2 {
    /* font-size: 60px; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 70%;
}

.contact-us__btn {
    width: 16%;
    height: 11%;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5454D4;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-right: 20px;*/
}

.contact-us__btn p {
    text-decoration: none;
    text-align: center;
    font-family: var(--other-font);
    color: white;
    /* font-size: 21px; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 18px;
}

@media (max-width: 1000px) {
    .contact-us__section h2 {
        /* font-size: 36px; */
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }

    .contact-us__btn {
        width: 20%;
        border-radius: 0;
    }

    .contact-us__btn p {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
@media (max-width: 768px) {
    .contact-us__section {
        display: block;
        height: 420px;
        padding: 80px 30px;
        margin-top: 150px;
    }
    .contact-us__vector-circles-container{
        left: 10%;
        top: 88%;
    }
    .contact-us__btn {
        width: 28%;
        height: 8vw;
        margin-top: 50px;
    }

    .contact-us__btn p {
        font-size: 16px;
        /*margin-top: 0px;*/
    }
}
@media (max-width: 520px){
    .contact-us__section{
        padding: 20px 20px;
    }
    .contact-us__btn {
        width: 50%;
        height: 8vh;
        margin: 50px auto 0;
    }
    .contact-us__btn p{
        font-size: 90%;
    }
}
@media(min-width: 1700px){
    .contact-us__btn {
        width: 23%;
        height: 18%;
    }    
}