.contact-form-page__landing main{
  margin-top: 150px;
  display: flex;
  gap: 50px;
}
.contact-form-page__container header{
  max-width: 1900px;
}
.contact-page-content{
  border: 3px solid antiquewhite;
}
.contact-page-content h1{
  font-size: 48px;
}
.contact-page-content h2{
  font-size: 32px;
  margin: 40px 0;
}
.contact-page-content__list{

}
.contact-page-content__list-item {
  list-style: none;
}
.contact-page-content__list-item:not(:last-child) {
  margin-bottom: 20px;
}
.contact-page-content__list-item span {
  color: rgba(255,255,255,0.5);
  font-size: 23px;
}

.contact-page-content__list-item:before {
  content: ' ';
  width: 20px;
  height: 20px;
  background-image: url('../img/list-style-image.svg');
  background-size: cover;
  color: #fff;
  margin: 0 10px 0 0;
  display: inline-block;
}

.form-container{
  width: 600px;
  height: auto;
  background-color: var(--main-landing-color);
  z-index: 100;
  box-shadow: -1px 3px 17px -1px rgba(0,0,0,0.78);
  -webkit-box-shadow: -1px 3px 17px -1px rgba(0,0,0,0.78);
  -moz-box-shadow: -1px 3px 17px -1px rgba(0,0,0,0.78);
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  flex-direction: column;
    /*width: 600px;*/
    /*height: 500px;*/
    /*background-color: var(--main-landing-color);*/
    padding: 20px 45px;
  }
form h3{
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}
form textarea{
  width: 100%;
  margin: 20px auto;
  background-color: #1E1E20;
  color: white;
}
  .field {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 30px 0;
    box-shadow: 0 2px 0 white;
  } 
  .field label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
  }
  .field input:focus + label,
  .field input:valid + label {
    top: -5px;
    color: green;
    font-size: 14px;
  }
  .field :focus,
  .field :valid {
      box-shadow: 0 2px 0 yellow;
  }
  .field input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
  }
  .field-pass {
    position: relative;
    width: 48%;
    height: 40px;
    margin: 30px 0;
    box-shadow: 0 2px 0 white;
  } 
  .field-pass label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgb(255, 255, 255);
  }
  .field-pass input:focus + label,
  .field-pass input:valid + label {
    top: -5px;
    color: white;
    font-size: 14px;
  }
  .field-pass :focus,
  .field-pass :valid,
    select:focus,
    select:valid {
      box-shadow: 0 2px 0 white;
  } 
  .field-pass input, select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
  }
  select{
    margin: 30px 0;
    width: 100%;
    background-color: transparent;
    color: white;
  }
  option{
     background-color: var(--main-landing-color);
  }
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px
}

.wrap-contact100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto
}

.contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: linear-gradient(left,#5454D444, #5454D41C,#FBA81C1C, #E056880F);
  background: -webkit-linear-gradient(left,#5454D41C, #FBA81C1C,#5454D444, #E056880F);
  background: -o-linear-gradient(left,#FBA81C1C, #E056880F,#5454D444, #5454D41C);
  background: -moz-linear-gradient(left,#FBA81C1C, #E056880F,#5454D444, #5454D41C);
  top: 0;
  left: -100%;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  background: none;
  border: none;
  z-index: 2;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0
}

.contact100-form-btn i {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s
}

.contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px)
}